<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Carnetizacion - Admin</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <script src="/js/bootstrap.bundle.min.js"></script>
    </head>
    <body>
        <div>Pagina de administrador</div>
        <div>
            <h2>Lista de empleados</h2>
            <table>
                <thead>
                    <tr>
                        <th>Cedula</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Sexo</th>
                        <th>Correo</th>
                        <th>Fecha de nacimiento</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="emp : ${employees}">
                        <td th:text="${emp.ci}"></td>
                        <td th:text="${emp.name}"></td>
                        <td th:text="${emp.lastname}"></td>
                        <td th:text="${emp.gender}"></td>
                        <td th:text="${emp.email}"></td>
                        <td th:text="${emp.birthday}"></td>                        
                    </tr>
                </tbody>
            </table>
        </div>
        <script th:src="@{/webjars/sockjs-client/1.5.1/sockjs.min.js}"></script>
        <script th:src="@{/webjars/stomp-websocket/2.3.4/stomp.min.js}"></script>
        <script>
            const socket = new SockJS('/ws');
            const stompClient = Stomp.over(socket);

            stompClient.connect({}, function(frame) {
                console.log('✅ WebSocket conectado');

                stompClient.subscribe('/topic/notificaciones', function(mensaje) {
                    const notificacion = JSON.parse(mensaje.body);
                    console.log('📨 Datos recibidos:', notificacion);
                });
            });
        </script>
    </body>
</html>
