<!DOCTYPE html>
<html>
    <head>
        <title>Carnetizacion - Home</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <script src="/js/bootstrap.bundle.min.js"></script>
    </head>
    <body>
        <div>
            <h1>Solicitud y entregas de carnet</h1>
            <form>
                <h2>Consultar estado del carnet</h2>
                <div>
                    <label for="ci">Cedula</label>
                    <input type="text" name="ci" id="ci">
                    <button type="submit">Buscar</button>
                </div>
            </form>
            <a href="/carnet">Solicitar carnet</a>           
            <a href="/login">Panel de administrador</a>
        </div>
    </body>
</html>
